<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">
                <b class="uno">4</b>
                <b class="dos">0</b>
                <b class="tres">4</b>
              </span>
                <div class="mb-4 lead not-found-text">The page you are looking for was not found.</div>
                <div class="homing-button">
                    <a routerLink="/" class="btn btn-link">Back to Earth</a>
                </div>

            </div>
        </div>
    </div>
</div>