<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-black" style="background-color: #E10A0A;">
    <a class="navbar-brand bg-main logo" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <byte-menu-button customClass="active txt-bold" title="Home" targetUrl="#"></byte-menu-button>
            <byte-menu-button customClass="" title="Features" targetUrl="#"></byte-menu-button>
            <byte-menu-dropdown title="Dropdown" targetUrl="#" customClass="" subMenuItems="[
            { 'customClass': '', 'targetUrl': '#', 'title': 'Action', 'isolated': false, 'action': null },
            { 'customClass': '', 'targetUrl': '#', 'title': 'Another Action', 'isolated': false, 'action': null },
            {'customClass': '', 'targetUrl': '#', 'title': 'Something Else Here', 'isolated': true, 'action': null }
            ]"></byte-menu-dropdown>
            <byte-menu-button customClass="" title="Pricing" targetUrl="#"></byte-menu-button>
            <byte-menu-button customClass="" title="About" targetUrl="#"></byte-menu-button>

        </ul>
        <!-- <byte-menu-right></byte-menu-right> -->
    </div>
</nav>
