<h3>RULE BUNDLING/CHAINING!</h3>
<hr>
<p>1. Define bundle type [(recipent/dependant/ has parent),(donor/links to)]</p>
<p>2x. (if has parent) Define extectations under &#123;expects&#125; </p>
<p>2x. (if has children) Define passed down value [and any transformations]</p>
<p></p>
<p></p>

<code>Grading Rules Relationship schema</code>
<pre>
  &#123;
    "expects" : &#123; &#125;,
    "status_code" : "NUMERIC_CODE_EXPECTED",  <i style="color:gray;">// if code isn't matched, [attempt transformations in safe mode or skip to next]</i>
    <span style="color:blue">"transformations" : &#123;</span>
      <span style="color:red">"regex" : &#123;</span>
        "extract"  : [
          &#123;
            "find": "REGEX_PATTERN",
            "in" : "HEADER/BODY",
            "store_as" : "key_name",
            "affects" : "KEYS/VALUES"
          &#125;
        ]
        "replace"  : [
          &#123;
            "find": "REGEX_PATTERN",
            "in" : "HEADER/BODY",
            "with": "VALUE TO REPLACE WITH"
            "store_as" : "key_name",
            "affects" : "KEYS/VALUES"
          &#125;
        ]
      <span style="color:red">&#125;</span>
      <span style="color:blueviolet">"functions" : [</span>
        &#123;
          "find" : "PARAMETER_NAME",   <i style="color:gray;">// if <b>*</b> is sepecified or is left null, entire 'in' will be fed to the method </i>
          "in"   :  "HEADER/BODY",  <i style="color:gray;">// required</i>
          "method" : "ACTUAL TRANSFORM FUNCTION", <i style="color:gray;">// valid php function accepting a single parameter and expecting the transformed result</i>
        &#125;
      <span style="color:blueviolet">]</span>
    <span style="color:blue">&#125;,</span>
  &#125;
</pre>