.clickable {
    transition-duration: .1s;
    cursor: pointer;
}

.clickable:hover {
    transition-duration: .1s;
    background-color: #2D2D2D !important;
    color: #ffffff !important;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body,
html,
.mat-card,
mat-card-title,
mat-card-subtitle,
.mat-card-subtitle {
    font-family: " American Typewriter ", serif;
    background-color: RGBA(46, 49, 49, 1);
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    display: flex;
    justify-content: center;
    align-self: center;
}

.list-container {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
}

.column-container {
    /* width: 300px;
    max-width: 100%;
    margin: 0 25px 25px 0; */
    display: inline-block;
    vertical-align: top;
    background-color: RGBA(255, 255, 255, 0.05);
}

mat-card {
    min-height: 100px !important;
    margin: 1em;
    cursor: pointer;
}

.list {
    border: RGBA(46, 49, 49, .7) solid 1px;
    border-radius: 2px;
    overflow: auto;
    max-height: 70vh !important;
}

.list-item {
    margin: 10px;
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

a {
    text-decoration: none;
    color: dodgerblue;
}

mat-card-header {
    font-size: small !important;
    font-weight: bold !important;
}

span.idBox {
    padding: 0.01em !important;
    margin: 0 .2em 0 0 !important;
    border-radius: 20% !important;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold !important;
    color: black !important;
    font-size: large !important;
    text-shadow: .5px 0.5px green !important;
    background-color: #ffffff !important;
    border: 1px solid;
    border-color: red !important;
}

span.idParent {
    /* float: right !important; */
    padding: .01em !important;
    background-color: #fff !important;
    /* font-weight: bold; */
    color: green !important;
    border-radius: 20% !important;
    border: 1px solid;
    border-color: purple !important;
}

span.parentRuleList {
    padding: .3em !important;
    cursor: pointer !important;
    background-color: white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: small !important;
    color: #E10A0A !important;
    border: 1px solid;
    border-color: crimson !important;
    border-radius: 10% !important;
}

app-alert-dialogue-confirm {
    position: sticky !important;
    z-index: 100 !important;
    color: white !important;
    background-color: #E10A0A !important;
}

app-alert-dialogue-confirm>div {
    position: relative !important;
    top: 30px !important;
    left: -10px !important;
    width: 150px !important;
    height: 30px !important;
    background: #942911 !important;
}