<h4>
    <i style="color:red; text-align: center; margin: 0 auto;width:100%;"> Welcome to your grading assistant</i>
</h4>

<div class="col-12">
    <div class="row">
        <div class="col-3">
            <div class="card bg-dark">
                <div class="card-header" id="headingZero">
                    <h5 class="mb-0">
                        <p class="extra-padded" routerLink="/assignments/new" routerLinkActive="active">
                            ADD A NEW ASSIGNMENT
                        </p>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-dark">
                <div class="card-header" id="headingZeroAlpha">
                    <h5 class="mb-0">
                        <p class="extra-padded" routerLink="/assignments/browse" routerLinkActive="active">
                            VIEW EXISTING ASSIGNMENTS
                        </p>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-dark">
                <div class="card-header" id="headingZeroAlpha">
                    <h5 class="mb-0">
                        <p class="extra-padded" routerLink="/assignments/generator/routes" routerLinkActive="active">
                            ADD GRADING RULE
                        </p>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-dark">
                <div class="card-header" id="headingZeroAlpha">
                    <h5 class="mb-0">
                        <p class="extra-padded" routerLink="/assignments/generator/review" routerLinkActive="active">
                            VIEW GRADING RULES
                        </p>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <p></p>

    <div class="row">
        <div class="col-3">
            <div class="card bg-dark">
                <div class="card-header" id="headingZeroAlpha">
                    <h5 class="mb-0">
                        <p class="extra-padded" routerLink="/assignments/generator/chaining" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                            BUNDLE/GROUP RULES
                        </p>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-dark">
                <div class="card-header" id="headingZeroAlpha">
                    <h5 class="mb-0">
                        <p class="extra-padded" routerLink="/assignments/browse/chainings" routerLinkActive="active">
                            VIEW BUNDLED RULES
                        </p>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-dark">
                <div class="card-header" id="headingZeroAlpha">
                    <h5 class="mb-0">
                        <p class="extra-padded" routerLink="/assignments/submit" routerLinkActive="active">
                            SUBMIT AN ASSIGNMENT
                        </p>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-dark">
                <div class="card-header" id="headingZeroAlpha">
                    <h5 class="mb-0">
                        <p class="extra-padded" routerLink="/assignments/browse/submissions" routerLinkActive="active">
                            VIEW ASSIGNMENT SUBMISSIONS
                        </p>
                    </h5>
                </div>
            </div>
        </div>
    </div>

    <p></p>


</div>