<div class="card">
    <form class="border border-light p-5" [formGroup]="newRouteForm" (ngSubmit)="saveRoute()">

        <p class="h4 mb-4 text-center">NEW ASSIGNMENT RULE</p>

        <hr>

        <div id="sortable-form" class="droptrue drop-list ui-sortable">


            <!-- NAME & DESCRIPTION -->
            <div class="row col-12 bg-black padding">
                <div class="col-md-4">
                    <div data-template="dTextInputTemp" data-popover="input" style="position: relative; left: 0px; top: 0px;" class="" data-original-title="" title="">
                        <label for="rule_name">Rule Name</label>
                        <input type="text" id="rule_name" name="rule_name" class="form-control mb-4" placeholder="Rule name">
                    </div>
                </div>

                <div class="col-md-3">
                    <div data-template="dSelectTemp" data-popover="select" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                        <label for="rule_assignment">Assignment</label>
                        <input class="browser-default form-control mb-4" list="rule_assignment" name="rule_assignment" placeholder="Assignment ">
                        <datalist id="rule_assignment" *ngIf="assignments">
                            <option  *ngFor="let asgnt of assignments" [value]="asgnt.assignment_id">{{asgnt.assignment_name}}</option>
                        </datalist>
                        <datalist id="rule_assignment" *ngIf="!assignments">
                          <option value="" selected>Refresh to Load Assignments</option>
                      </datalist>
                    </div>
                </div>
                <div class="col-md-4">
                    <div data-template="dTextInputTemp" data-popover="input" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                        <label for="rule_expected_status_code">Expected Status Code</label>
                        <input type="number" id="rule_expected_status_code" name="rule_expected_status_code" class="form-control mb-4" value="200" placeholder="Expected Status Code">
                    </div>
                </div>

            </div>
            <!-- END OF --- NAME & DESCRIPTION -->


            <!-- METHOD, PATH & EXPECTED TYPE -->
            <div class="row col-12 bg-black padding">
                <div class="col-md-3">
                    <div data-template="dSelectTemp" data-popover="select" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                        <label for="rule_method"> HTTP Method</label>
                        <select class="browser-default custom-select mb-4" id="rule_method" name="rule_method">
                        <option class="bg-success" selected value="GET">GET</option>
                        <option value="POST">POST</option>
                        <option value="PUT">PUT</option>
                        <option value="DELETE">DELETE</option>
                        <option value="OPTIONS">OPTIONS</option>
                    </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div data-template="dTextInputTemp" data-popover="input" style="position: relative; left: 0px; top: 0px;" class="" data-original-title="" title="">
                        <label for="rule_path">Path</label>
                        <input type="text" id="rule_path" name="rule_path" class="form-control mb-4" placeholder="/path">
                    </div>
                </div>
                <div class="col-md-3">
                    <div data-template="dSelectTemp" data-popover="select" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                        <label for="rule_expected_data_type">Response Format</label>
                        <input class="browser-default form-control mb-4" value="text/html" list="rule_expected_data_type" name="rule_expected_data_type">

                        <datalist id="rule_expected_data_type" *ngIf="mimeTypes">
                            <option  *ngFor="let typ of mimeTypes " [value]="typ.mime">{{typ.description}}</option>
                        </datalist>
                        <datalist id="rule_expected_data_type" *ngIf="!mimeTypes ">
                          <option value=" " selected>Refresh to Load Response Formats</option>
                      </datalist>
                    </div>
                </div>
            </div>
            <!-- END OF ---  METHOD, PATH & EXPECTED TYPE -->


            <!-- ASSIGNMENT & STATUS CODE -->
            <div class="row col-12 bg-black padding ">

                <div class="col-md-6 ">
                    <div data-template="dTextareaTemp " data-popover="textarea " class=" " style="position: relative; left: 0px; top: 0px; " data-original-title=" " title=" ">
                        <label for="rule_description ">Description</label>
                        <textarea id="rule_description " name="rule_description " class="form-control mb-4 " placeholder="Assignment Description "></textarea>
                    </div>
                </div>

                <div class="col-md-5 ">
                    <div data-template="dTextareaTemp " data-popover="textarea " class=" " style="position: relative; left: 0px; top: 0px; " data-original-title=" " title=" ">
                        <label for="rule_expected_data ">Expected Data</label>
                        <textarea id="rule_expected_data " name="rule_expected_data " class="form-control mb-4 " placeholder="Expected response data "></textarea>
                    </div>
                </div>

            </div>
            <!-- EO --- ASSIGNMENT & STATUS CODE -->










            <div>
                <h3>GRADING!</h3>
            </div>

        </div>

        <button class="btn btn-info btn-block my-4 " type="submit ">Add Assignment</button>

    </form>
</div>
