<div class="card">
    <form class="border border-light p-5" [formGroup]="newRouteForm" (ngSubmit)="saveRoute()">

        <p class="h4 mb-4 text-center">NEW GRADING RULE</p>

        <hr>

        <div id="sortable-form" class="droptrue drop-list ui-sortable">


            <!-- NAME, ASSIGNMENT & EXPECTED STATUS CODE-->
            <div class="row col-12 bg-black padding">
                <div class="col-md-4">
                    <div data-template="dTextInputTemp" data-popover="input" style="position: relative; left: 0px; top: 0px;" class="" data-original-title="" title="">
                        <label for="rule_name">Rule Name</label>
                        <input type="text" id="rule_name" name="rule_name" formControlName="rule_name" class="form-control  form-control-lg mb-4" placeholder="Rule name">
                    </div>
                </div>

                <div class="col-md-3">
                    <div data-template="dSelectTemp" data-popover="select" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                        <label for="rule_assignment">Assignment</label>
                        <input class="browser-default form-control form-control-lg mb-4" list="rule_assignment" name="rule_assignment" formControlName="rule_assignment" placeholder="Assignment ">
                        <datalist id="rule_assignment" *ngIf="assignments">
                            <option  *ngFor="let asgnt of assignments" [value]="asgnt.assignment_id">{{asgnt.assignment_name}}</option>
                        </datalist>
                        <datalist id="rule_assignment" *ngIf="!assignments">
                          <option value="" selected>Refresh to Load Assignments</option>
                      </datalist>
                    </div>
                </div>
                <div class="col-md-4">
                    <div data-template="dTextInputTemp" data-popover="input" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                        <label for="rule_expected_status_code">Expected Status Code</label>
                        <!-- <input type="number" id="rule_expected_status_code" name="rule_expected_status_code" class="form-control form-control-lg mb-4" value="200" placeholder="Expected Status Code"> -->
                        <input class="browser-default form-control form-control-lg mb-4" list="rule_expected_status_code" name="rule_expected_status_code" formControlName="rule_expected_status_code" placeholder="Expected Status Code">
                        <datalist id="rule_expected_status_code" *ngIf="statusCodes">
                            <option  *ngFor="let statCode of statusCodes" [value]="statCode.code">{{statCode.description}}</option>
                        </datalist>
                        <datalist id="rule_expected_status_code" *ngIf="!statusCodes">
                            <option value="" selected>Refresh to Load Status Codes</option>
                        </datalist>
                    </div>
                </div>

            </div>
            <!-- END OF --- NAME, ASSIGNMENT & EXPECTED STATUS CODE-->


            <!-- METHOD, PATH & RESPONSE TYPE -->
            <div class="row col-12 bg-black padding">
                <div class="col-md-3">
                    <div data-template="dSelectTemp" data-popover="select" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                        <label for="rule_method"> HTTP Method</label>
                        <!-- <input class="browser-default form-control mb-4" placeholder="HTTP Method" list="rule_method" name="rule_method"> -->

                        <select class="custom-select custom-select-lg mb-4" name="rule_method" formControlName="rule_method" id="rule_method">
                          <option  selected>GET</option>
                          <option  >POST</option>
                          <option  >PUT</option>
                          <option  >DELETE</option>
                          <option >OPTIONS</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div data-template="dTextInputTemp" data-popover="input" style="position: relative; left: 0px; top: 0px;" class="" data-original-title="" title="">
                        <label for="rule_path">Path</label>
                        <input type="text" id="rule_path" name="rule_path" formControlName="rule_path" class="form-control form-control-lg mb-4" placeholder="/path">
                    </div>
                </div>
                <div class="col-md-3">
                    <div data-template="dSelectTemp" data-popover="select" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                        <label for="rule_expected_data_type">Response Format</label>
                        <input class="browser-default form-control form-control-lg mb-4" placeholder="Response Type" list="rule_expected_data_type" formControlName="rule_expected_data_type" name="rule_expected_data_type">

                        <datalist id="rule_expected_data_type" *ngIf="mimeTypes">
                            <option  *ngFor="let typ of mimeTypes " [value]="typ.mime">{{typ.description}}</option>
                        </datalist>
                        <datalist id="rule_expected_data_type" *ngIf="!mimeTypes ">
                          <option value=" " selected>Refresh to Load Response Formats</option>
                      </datalist>
                    </div>
                </div>
            </div>
            <!-- END OF ---  METHOD, PATH & RESPONSE TYPE -->


            <!--DESCRIPTION & EXPECTED DATA -->
            <div class="row col-12 bg-black padding ">

                <div class="col-md-6 ">
                    <div data-template="dTextareaTemp " data-popover="textarea " class=" " style="position: relative; left: 0px; top: 0px; " data-original-title=" " title=" ">
                        <label for="rule_description ">Description</label>
                        <textarea id="rule_description " name="rule_description" formControlName="rule_description" class="form-control form-control-lg mb-4 " placeholder="Assignment Description "></textarea>
                    </div>
                </div>

                <div class="col-md-5 ">
                    <div data-template="dTextareaTemp " data-popover="textarea" class=" " style="position: relative; left: 0px; top: 0px; " data-original-title=" " title=" ">
                        <label for="rule_expected_data ">Expected Data</label>
                        <textarea id="rule_expected_data " name="rule_expected_data" formControlName="rule_expected_data" class="form-control form-control-lg mb-4 " placeholder="Expected response data "></textarea>
                    </div>
                </div>

            </div>
            <!-- EO ---DESCRIPTION & EXPECTED DATA -->


            <!-- HEADERS -->
            <div class="row col-12 bg-black">
                <hr class="row col-12" style="background-color: white !important;">
                <div class="col-md-4 col-sm-6">
                    HEADERS
                </div>
                <div class="col-md-2 col-sm-6">
                    <button class="btn btn-success btn-sm" type="button" (click)="newValuePair('headers')">ADD</button>
                </div>
            </div>

            <div class="row col-12 bg-black padding" formArrayName="rule_headers">

                <div class="col-12 d-none d-xs-none d-sm-none d-md-block d-l-block d-xl-block" *ngIf="newRouteForm.get('rule_headers')['controls'].length > 0">
                    <div class="row col-12">
                        <div class="col-4">
                            <label>Header</label>
                        </div>
                        <div class="col-4">
                            <label>Value</label>
                        </div>
                    </div>
                </div>

                <div class="col-12 row" *ngFor="let hdrVal of newRouteForm.get('rule_headers')['controls'];let idx = index">

                    <div class="col-12 row form-group" [formGroupName]="idx">

                        <div class="col-md-4">
                            <div data-template="dTextInputTemp" data-popover="input" style="position: relative; left: 0px; top: 0px;" class="" data-original-title="" title="">
                                <label class="d-sm-block d-md-none d-lg-none d-l-none d-xl-none ">Header</label>
                                <input formControlName="key" class="browser-default form-control form-control-lg mb-4" placeholder="Header" list="rule_headers" name="key">
                                <datalist id="rule_headers" *ngIf="headers">
                                    <option  *ngFor="let hdr of headers " >{{hdr}}</option>
                                </datalist>
                                <datalist id="rule_headers" *ngIf="!headers">
                                  <option value=" " selected>Refresh to Load Header Types Formats</option>
                                </datalist>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div data-template="dTextInputTemp" data-popover="input" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                                <label class="d-sm-block d-md-none d-lg-none d-l-none d-xl-none ">Value</label>
                                <input formControlName="value" type="text" name="value" class="form-control form-control-lg mb-4" placeholder="Value">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button class="btn btn-block btn-outline-danger btn-lg" type="button" (click)="removeValuePair('headers',idx)">X</button>
                        </div>

                    </div>

                </div>

            </div>
            <!-- END OF --- HEADERS -->


            <!-- BODY PARAMETERS -->
            <div class="row col-12 bg-black">
                <hr class="row col-12" style="background-color: white !important;">
                <div class="col-md-4 col-sm-6">
                    BODY PARAMETERS
                </div>
                <div class="col-md-2 col-sm-6">
                    <button class="btn btn-success btn-sm" type="button" (click)="newValuePair('parameters')">ADD</button>
                </div>
            </div>

            <div class="row col-12 bg-black padding" formArrayName="rule_parameters">

                <div class="col-12 d-none d-xs-none d-sm-none d-md-block d-l-block d-xl-block" *ngIf="newRouteForm.get('rule_parameters')['controls'].length > 0">
                    <div class="row col-12">
                        <div class="col-4">
                            <label>Parameter</label>
                        </div>
                        <div class="col-4">
                            <label>Value</label>
                        </div>
                    </div>
                </div>

                <div class="col-12 row form-group" *ngFor="let parVal of newRouteForm.get('rule_parameters')['controls'];let pidx = index">

                    <div class="col-12 row form-group" [formGroupName]="pidx">

                        <div class="col-md-4">
                            <div data-template="dTextInputTemp" data-popover="input" style="position: relative; left: 0px; top: 0px;" class="" data-original-title="" title="">
                                <label class="d-sm-block d-md-none d-lg-none d-l-none d-xl-none ">Parameter</label>
                                <input type="text" name="key" class="form-control form-control-lg mb-4" placeholder="Parameter" formControlName="key">
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div data-template="dTextInputTemp" data-popover="input" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                                <label class="d-sm-block d-md-none d-lg-none d-l-none d-xl-none ">Value</label>
                                <input type="text" name="value" class="form-control form-control-lg mb-4" placeholder="Value" formControlName="value">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button class="btn btn-block btn-outline-danger btn-lg" type="button" (click)="removeValuePair('parameters',pidx)">X</button>
                        </div>

                    </div>

                </div>





            </div>
            <!-- END OF --- BODY PARAMETERS -->


            <div class="row col-12 bg-black">
                <hr class="row col-12" style="background-color: white !important;">
                <div class="col-md-4 col-sm-6">
                    GRADING
                </div>
                <!-- <div class="col-md-2 col-sm-6">
                    <button class="btn btn-success btn-sm" type="button" (click)="newValuePair('parameters')">ADD</button>
                </div> -->
            </div>

            <div class="row col-12 bg-black" formGroupName="rule_grading">

                <!-- SO -- PATH -->
                <div class="col-12 row" formGroupName="path">

                    <div class="row col-12 bg-black">
                        <hr class="row col-12" style="background-color: white !important;">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 col-sm-6">
                            Path
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <button class="btn btn-success btn-sm" type="button" (click)="newGradingCriteria('path')">ADD</button>
                        </div>
                    </div>

                    <div class="col-12 row form-group">

                        <!-- <div class="col-md-4">
                            <div data-template="dTextInputTemp" data-popover="input" style="position: relative; left: 0px; top: 0px;" class="" data-original-title="" title="">
                                <label class="">weight</label>
                                <input type="text" name="weight" class="form-control form-control-lg mb-4" placeholder="Parameter" formControlName="weight">
                            </div>
                        </div> -->


                        <div class="col-md-4">
                            <div data-template="dTextInputTemp" data-popover="input" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                                <label class="">Match Marks </label>
                                <input type="number" name="match" class="form-control form-control-lg mb-4" placeholder="Marks for positive match" formControlName="match">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div data-template="dTextInputTemp" data-popover="input" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                                <label class="">No Match Marks</label>
                                <input type="number" name="no_match" class="form-control form-control-lg mb-4" placeholder="Marks for negative match" formControlName="no_match">
                            </div>
                        </div>

                        <!-- <div class="col-md-2">
                            <button class="btn btn-block btn-outline-danger btn-lg" type="button">X</button>
                        </div> -->

                    </div>


                    <div class="col-12 row" formGroupName="matches">

                        <div class="col-12 row form-group" *ngFor="let parVal of newRouteForm.get('rule_grading.path.matches')['controls'];let pathidx = index">

                            <div class="col-12 row form-group" formGroupName="{{pathidx}}">

                                <div class="col-md-4">
                                    <div data-template="dTextInputTemp" data-popover="input" style="position: relative; left: 0px; top: 0px;" class="" data-original-title="" title="">
                                        <label class="">Alternate Path</label>
                                        <input type="text" name="alternative" class="form-control form-control-lg mb-4" placeholder="Parameter" formControlName="alternative">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div data-template="dTextInputTemp" data-popover="input" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                                        <label class="">Match Marks </label>
                                        <input type="number" name="match" class="form-control form-control-lg mb-4" placeholder="Marks for positive match" formControlName="match">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div data-template="dTextInputTemp" data-popover="input" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                                        <label class="">No Match Marks</label>
                                        <input type="number" name="no_match" class="form-control form-control-lg mb-4" placeholder="Marks for negative match" formControlName="no_match">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div style="margin-top: 1.8em !important;"></div>
                                    <button class="btn btn-block btn-outline-danger btn-lg" type="button" (click)="removeGradingCriteria('path',pathidx)">X</button>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- EO -- PATH -->

                <!-- SO -- VERB -->
                <div class="col-12 row" formGroupName="verb">

                    <div class="row col-12 bg-black">
                        <hr class="row col-12" style="background-color: white !important;">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 col-sm-6">
                            Verb
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <button class="btn btn-success btn-sm" type="button" (click)="newGradingCriteria('verb')">ADD</button>
                        </div>
                    </div>

                    <div class="col-12 row form-group">

                        <!-- <div class="col-md-4">
                            <div data-template="dTextInputTemp" data-popover="input" style="position: relative; left: 0px; top: 0px;" class="" data-original-title="" title="">
                                <label class="">weight</label>
                                <input type="text" name="weight" class="form-control form-control-lg mb-4" placeholder="Parameter" formControlName="weight">
                            </div>
                        </div> -->


                        <div class="col-md-4">
                            <div data-template="dTextInputTemp" data-popover="input" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                                <label class="">Match Marks </label>
                                <input type="number" name="match" class="form-control form-control-lg mb-4" placeholder="Marks for positive match" formControlName="match">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div data-template="dTextInputTemp" data-popover="input" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                                <label class="">No Match Marks</label>
                                <input type="number" name="no_match" class="form-control form-control-lg mb-4" placeholder="Marks for negative match" formControlName="no_match">
                            </div>
                        </div>

                        <!-- <div class="col-md-2">
                          <button class="btn btn-block btn-outline-danger btn-lg" type="button">X</button>
                      </div> -->

                    </div>


                    <div class="col-12 row" formGroupName="matches">

                        <div class="col-12 row form-group" *ngFor="let parVal of newRouteForm.get('rule_grading.verb.matches')['controls'];let verbidx = index">

                            <div class="col-12 row form-group" formGroupName="{{verbidx}}">

                                <div class="col-md-4">
                                    <div data-template="dTextInputTemp" data-popover="input" style="position: relative; left: 0px; top: 0px;" class="" data-original-title="" title="">
                                        <label class="">Alternate verb</label>
                                        <select class="custom-select custom-select-lg mb-4" name="alternative" id="alternative" formControlName="alternative">
                                          <option >GET</option>
                                          <option >POST</option>
                                          <option >PUT</option>
                                          <option >DELETE</option>
                                          <option >OPTIONS</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div data-template="dTextInputTemp" data-popover="input" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                                        <label class="">Match Marks </label>
                                        <input type="number" name="match" class="form-control form-control-lg mb-4" placeholder="Marks for positive match" formControlName="match">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div data-template="dTextInputTemp" data-popover="input" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                                        <label class="">No Match Marks</label>
                                        <input type="number" name="no_match" class="form-control form-control-lg mb-4" placeholder="Marks for negative match" formControlName="no_match">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div style="margin-top: 1.8em !important;"></div>
                                    <button class="btn btn-block btn-outline-danger btn-lg" type="button" (click)="removeGradingCriteria('verb',verbidx)">X</button>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- EO - VERB -->

                <!-- SO --STATUS CODE  -->
                <div class="col-12 row" formGroupName="status_code">

                    <div class="row col-12 bg-black">
                        <hr class="row col-12" style="background-color: white !important;">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 col-sm-6">
                            Status Code
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <button class="btn btn-success btn-sm" type="button" (click)="newGradingCriteria('status_code')">ADD</button>
                        </div>
                    </div>

                    <div class="col-12 row form-group">

                        <!-- <div class="col-md-4">
                            <div data-template="dTextInputTemp" data-popover="input" style="position: relative; left: 0px; top: 0px;" class="" data-original-title="" title="">
                                <label class="">weight</label>
                                <input type="text" name="weight" class="form-control form-control-lg mb-4" placeholder="Parameter" formControlName="weight">
                            </div>
                        </div> -->


                        <div class="col-md-4">
                            <div data-template="dTextInputTemp" data-popover="input" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                                <label class="">Match Marks </label>
                                <input type="number" name="match" class="form-control form-control-lg mb-4" placeholder="Marks for positive match" formControlName="match">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div data-template="dTextInputTemp" data-popover="input" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                                <label class="">No Match Marks</label>
                                <input type="number" name="no_match" class="form-control form-control-lg mb-4" placeholder="Marks for negative match" formControlName="no_match">
                            </div>
                        </div>

                        <!-- <div class="col-md-2">
                          <button class="btn btn-block btn-outline-danger btn-lg" type="button">X</button>
                      </div> -->

                    </div>


                    <div class="col-12 row" formGroupName="matches">

                        <div class="col-12 row form-group" *ngFor="let parVal of newRouteForm.get('rule_grading.status_code.matches')['controls'];let status_codeidx = index">

                            <div class="col-12 row form-group" formGroupName="{{status_codeidx}}">

                                <div class="col-md-4">
                                    <div data-template="dTextInputTemp" data-popover="input" style="position: relative; left: 0px; top: 0px;" class="" data-original-title="" title="">
                                        <label class="">Alternate status_code</label>
                                        <input type="text" name="alternative" class="form-control form-control-lg mb-4" placeholder="Alternate Status Code" formControlName="alternative">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div data-template="dTextInputTemp" data-popover="input" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                                        <label class="">Match Marks </label>
                                        <input type="number" name="match" class="form-control form-control-lg mb-4" placeholder="Marks for positive match" formControlName="match">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div data-template="dTextInputTemp" data-popover="input" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                                        <label class="">No Match Marks</label>
                                        <input type="number" name="no_match" class="form-control form-control-lg mb-4" placeholder="Marks for negative match" formControlName="no_match">
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <div style="margin-top: 1.8em !important;"></div>
                                    <button class="btn btn-block btn-outline-danger btn-lg" type="button" (click)="removeGradingCriteria('status_code',status_codeidx)">X</button>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- EO STATUS CODE -->

                <!-- SO -- MIME TYPE -->
                <div class="col-12 row" formGroupName="mime_type">

                    <div class="row col-12 bg-black">
                        <hr class="row col-12" style="background-color: white !important;">
                        <div class="col-md-1"></div>
                        <div class="col-md-4 col-sm-6">
                            MIME Type
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <button class="btn btn-success btn-sm" type="button" (click)="newGradingCriteria('mime_type')">ADD</button>
                        </div>
                    </div>

                    <div class="col-12 row form-group">

                        <!-- <div class="col-md-4">
                            <div data-template="dTextInputTemp" data-popover="input" style="position: relative; left: 0px; top: 0px;" class="" data-original-title="" title="">
                                <label class="">weight</label>
                                <input type="text" name="weight" class="form-control form-control-lg mb-4" placeholder="Parameter" formControlName="weight">
                            </div>
                        </div> -->


                        <div class="col-md-4">
                            <div data-template="dTextInputTemp" data-popover="input" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                                <label class="">Match Marks </label>
                                <input type="number" name="match" class="form-control form-control-lg mb-4" placeholder="Marks for positive match" formControlName="match">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div data-template="dTextInputTemp" data-popover="input" class="" style="position: relative; left: 0px; top: 0px;" data-original-title="" title="">
                                <label class="">No Match Marks</label>
                                <input type="number" name="no_match" class="form-control form-control-lg mb-4" placeholder="Marks for negative match" formControlName="no_match">
                            </div>
                        </div>

                        <!-- <div class="col-md-2">
                          <button class="btn btn-block btn-outline-danger btn-lg" type="button">X</button>
                      </div> -->

                    </div>


                    <div class="col-12 row" formGroupName="matches">

                        <div class="col-12 row form-group" *ngFor="let parVal of newRouteForm.get('rule_grading.mime_type.matches')['controls'];let mime_typeidx = index">

                            <div class="col-12 row form-group" formGroupName="{{mime_typeidx}}">

                                <div class="col-md-4">
                                    <div data-template="dTextInputTemp" data-popover="input" style="position: relative; left: 0px; top: 0px;" class="" data-original-title="" title="">
                                        <label class="">Alternate mime_type</label>
                                        <!-- <input type="text" class="form-control form-control-lg mb-4 "> -->
                                        <input name="alternative" class="browser-default form-control form-control-lg mb-4 " placeholder="Alternate Mime Type" formControlName="alternative" list="rule_expected_data_type">

                                        <datalist id="rule_expected_data_type" *ngIf="mimeTypes">
                                            <option  *ngFor="let typ of mimeTypes" [value]="typ.mime">{{typ.description}}</option>
                                        </datalist>
                                        <datalist id="rule_expected_data_type" *ngIf="!mimeTypes">
                                          <option value=" " selected>Refresh to Load Response Formats</option>
                                        </datalist>

                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div data-template="dTextInputTemp " data-popover="input " class=" " style="position: relative; left: 0px; top: 0px; " data-original-title=" " title=" ">
                                        <label class=" ">Match Marks </label>
                                        <input type="number " name="match" class="form-control form-control-lg mb-4 " placeholder="Marks for positive match " formControlName="match">
                                    </div>
                                </div>

                                <div class="col-md-3 ">
                                    <div data-template="dTextInputTemp " data-popover="input " class=" " style="position: relative; left: 0px; top: 0px; " data-original-title=" " title=" ">
                                        <label class=" ">No Match Marks</label>
                                        <input type="number " name="no_match " class="form-control form-control-lg mb-4 " placeholder="Marks for negative match" formControlName="no_match">
                                    </div>
                                </div>

                                <div class="col-md-2 ">
                                    <div style="margin-top: 1.8em !important; "></div>
                                    <button class="btn btn-block btn-outline-danger btn-lg " type="button " (click)="removeGradingCriteria( 'mime_type',mime_typeidx) ">X</button>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                <!-- SO -- MIME TYPE -->

            </div>


        </div>

        <button class="btn btn-lg btn-info btn-block my-4 " type="submit ">Add Grading Rule</button>

    </form>
</div>