<div class="container-fluid bg-gray padding" id="printable" *ngIf="activeAssignment">

    <button id="unprintable" class=" btn btn-primary " (click)="helper.printPDF( 'printable',activeAssignment?.assignment_name+' by '+ activeAssignment?.assignment_owner_name) ">DOWNLOAD PDF</button>

    <div *ngIf="activeAssignment">

        <div class="row ">
            <div class="col-8 col-main-header ">
                <b class="u ">{{activeAssignment?.assignment_name}}</b> &nbsp;&nbsp;&nbsp;
                <code class="code ">( {{helper.plainDateify(activeAssignment?.assignment_created)}} )</code> &nbsp;&nbsp;&nbsp;

            </div>
            <div class="col-1 ">

            </div>
            <div class="col-3 col-bordered ">
                {{activeAssignment?.assignment_id}}
            </div>
        </div>
        <div class="row ">
            <div class="col-9 ">
                <sub class="sub ">by <b>Assignment Owner</b></sub>
            </div>
            <div class="col-3 col-bordered ">
                {{helper.plainDateify(activeAssignment?.assignment_due)}}
            </div>
        </div>

        <hr *ngIf="activeAssignment.assignment_summary">
        <div class="row " *ngIf="activeAssignment?.assignment_summary">
            <div class="col-12">
                <span class="subtitle">SUMMARY:</span>
                <span class="sub myfont mid-text">
                &nbsp; {{activeAssignment?.assignment_summary}}
                </span>
            </div>
        </div>

        <hr *ngIf="activeAssignment?.assignment_notes">
        <div class="row " *ngIf="activeAssignment?.assignment_notes">
            <div class="col-12">
                <span class="subtitle">DESCRIPTION:</span>
                <span class="sub myfont mid-text">
                &nbsp;  {{activeAssignment?.assignment_notes}}
                </span>
            </div>
        </div>

    </div>

    <hr>
    <div class="row ">
        <div class="col-12 uppercase mid-text bold">
            GRADING CRITERIA
        </div>
    </div>

    <div class="row padding" *ngFor="let rule of activeAssignment.routes; let idx = index; ">

        <div class="col-12 ">
            <div class="container-fluid grading-criterion padding ">
                <div class="row ">
                    <div class="col-11 uu ">
                        {{idx+1}}. {{rule.rule_name}}
                    </div>
                    <div class="col-1 col-bordered">
                        {{rule.rule_id}}
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12 " style=" ">
                        <i class="uu small-text bold">DESCRIPTION</i>:
                        <span class="sub myfont mid-text"> &nbsp; {{rule?.rule_description}}</span>
                    </div>
                </div>

                <p></p>
                <div class="row ">
                    <div class="col-2 col-bordered-left ">
                        <i class="uu small-text "> METHOD:</i>
                        <span style="color:{{helper.colorize( rule?.rule_method)}}" class="computerfont mid-text bold ">
                          {{rule?.rule_method}}
                        </span>
                    </div>
                    <div class="col-4 col-bordered-left ">
                        <i class="uu small-text ">PATH:</i>
                        <span class="computerfont mid-text bold " style="color:blue; ">
                          {{rule?.rule_path}}
                        </span>
                    </div>
                    <div class="col-4 col-bordered-left ">
                        <i class="uu small-text ">DATA TYPE:</i>
                        <span class="computerfont mid-text bold " style="color: purple ">
                          {{rule?.rule_expected_data_type}}
                        </span>
                    </div>
                    <div class="col-2 col-bordered-left ">
                        <i class="uu small-text myfont "> STATUS CODE:</i>
                        <span class="computerfont mid-text bold " style="color:crimson ">
                          {{rule?.rule_expected_status_code}}
                        </span>
                    </div>
                </div>

                <p *ngIf="rule?.rule_expected_data"></p>
                <div class="row" *ngIf="rule?.rule_expected_data">
                    <div class="col-12">
                        <i class="uu small-text bold">EXPECTED STATIC DATA</i>:
                        <span class="sub mid-text myfont ">
                          {{rule?.rule_expected_data}}
                        </span>
                    </div>
                </div>
                <hr *ngIf="rule?.rule_headers || rule?.rule_parameters">

                <!-- HEADERS & PARAMETERS -->
                <div class="row ">

                    <div class="col-6" *ngIf="rule?.rule_headers">

                        <i class="uu small-text bold ">PROVIDED HEADERS</i>
                        <table class="table table-dark mid-text">
                            <thead class="uppercase bold small-text">
                                <td>Name</td>
                                <td>Value</td>
                                <tbody>
                                    <tr *ngFor="let rule_header of helper.json(rule?.rule_headers); let rule_headerIdx = index">
                                        <td>{{rule_header?.key}}</td>
                                        <td>{{rule_header?.value}}</td>
                                    </tr>
                                </tbody>
                        </table>

                    </div>
                    <div class="col-6" *ngIf="rule?.rule_parameters">
                        <i class="uu small-text bold ">PROVIDED PARAMETERS</i>:
                        <table class="table table-dark mid-text">
                            <thead class="uppercase bold small-text">
                                <td>name</td>
                                <td>value</td>
                            </thead>
                            <tbody>
                                <tr *ngFor="let rule_parameter of helper.json(rule?.rule_parameters);let rule_parameterIdx = index;">
                                    <td>{{rule_parameter?.key}}</td>
                                    <td>{{rule_parameter?.value }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- PATH & CODE MATCHING -->
                <hr>
                <div class="row ">
                    <!-- PATH MATCHING -->
                    <div class="col-6">

                        <i class="uu small-text bold uppercase">PATH MATCHING</i> :
                        <table class="table table-dark mid-text">
                            <thead class="uppercase bold small-text">
                                <td>path</td>
                                <!-- <td>Match weight</td> -->
                                <td>MATCHED MARKS</td>
                                <td>NO MATCH MARKS</td>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{rule.rule_path}}</td>
                                    <!-- <td>{{rule?.rule_grading?.path?.weight}}</td> -->
                                    <td>{{rule?.rule_grading?.path?.match}}</td>
                                    <td>{{rule?.rule_grading?.path?.match?.no_match|| 0}}</td>
                                </tr>
                                <tr *ngFor="let rule_path_match of rule?.rule_grading?.path?.matches">
                                    <td>{{rule_path_match?.alternative}}</td>
                                    <td>{{rule_path_match?.match}}</td>
                                    <td>{{rule_path_match?.match?.no_match|| 0}}</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                    <!-- CODE MATCHING -->
                    <div class="col-6">

                        <i class="uu small-text bold uppercase">STATUS CODE MATCHING</i>
                        <table class="table table-dark mid-text">
                            <thead class="uppercase bold small-text">
                                <td>CODE</td>
                                <!-- <td>Match Weight</td> -->
                                <td>MATCHED MARKS</td>
                                <td>NO MATCH MARKS</td>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{rule?.rule_expected_status_code}}</td>
                                    <!-- <td>{{rule.rule_grading.status_code.weight}}</td> -->
                                    <td>{{rule?.rule_grading?.status_code?.match}}</td>
                                    <td>{{rule?.rule_grading?.status_code?.match?.no_match || 0}}</td>
                                </tr>

                                <tr *ngFor="let rule_status_code_match of rule?.rule_grading?.status_code?.matches">
                                    <td>{{rule_status_code_match?.alternative}}</td>
                                    <td>{{rule_status_code_match?.match}}</td>
                                    <td>{{rule_status_code_match?.match?.no_match || 0}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>


                <!-- VERB & MIME TYPE MATCHING -->
                <hr>
                <div class="row ">
                    <!-- VERB MATCHING -->
                    <div class="col-6">

                        <i class="uu small-text bold uppercase">VERB MATCHING</i>
                        <table class="table table-dark mid-text">
                            <thead class="uppercase bold small-text">
                                <td>VERB</td>
                                <!-- <td>Match Weight</td> -->
                                <td>MATCHED MARKS</td>
                                <td>NO MATCH MARKS</td>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{rule?.rule_method}}</td>
                                    <!-- <td>{{rule?.rule_grading?.verb?.weight}}</td> -->
                                    <td>{{rule?.rule_grading?.verb?.match}}</td>
                                    <td>{{rule?.rule_grading?.verb?.match?.no_match || 0}}</td>
                                </tr>

                                <tr *ngFor="let rule_verb_match of rule?.rule_grading?.verb?.matches">
                                    <td>{{rule_verb_match?.alternative}}</td>
                                    <td>{{rule_verb_match?.match}}</td>
                                    <td>{{rule_verb_match?.match?.no_match || 0}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <!-- MIME TYPE MATCHING -->
                    <div class="col-6">

                        <i class="uu small-text bold uppercase">MIME TYPE MATCHING</i>
                        <table class="table table-dark mid-text">
                            <thead class="uppercase bold small-text">
                                <td>MIME TYPE</td>
                                <!-- <td>Match Weight</td> -->
                                <td>MATCHED MARKS</td>
                                <td>NO MATCH MARKS</td>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{rule?.rule_expected_data_type}}</td>
                                    <!-- <td>{{rule?.rule_grading?.mime_type?.weight}}</td> -->
                                    <td>{{rule?.rule_grading?.mime_type?.match}}</td>
                                    <td>{{rule?.rule_grading?.mime_type?.match?.no_match || 0}}</td>
                                </tr>

                                <tr *ngFor="let rule_mime_type_match of rule?.rule_grading?.mime_type?.matches">
                                    <td>{{rule_mime_type_match?.alternative}}</td>
                                    <td>{{rule_mime_type_match?.match}}</td>
                                    <td>{{rule_mime_type_match?.match?.no_match || 0}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
    </div>




    <!-- {{(activeAssignment)| json}} -->



</div>

<div *ngIf="!activeAssignment">
    <div class="i fa fa-spin"></div>
    ... Loading assignment rubric
</div>