<div class="container-fluid bg-gray padding printable">

    <div class="row">
        <div class="col-8 col-main-header">
            <b class="u">Assignment Name</b> &nbsp;&nbsp;&nbsp;
            <code class="code">( Issue Date )</code> &nbsp;&nbsp;&nbsp;

        </div>
        <div class="col-1">

        </div>
        <div class="col-3 col-bordered">
            assignment-id
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <sub class="sub">by <b>Assignment Owner</b></sub>
        </div>
        <div class="col-3 col-bordered">
            Assignment Due
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-12 subtitle">
            SUMMARY
        </div>
        <div class="col-12 sub myfont">
            Actual Summary goes here
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 subtitle">
            DESCRIPTION
        </div>
        <div class="col-12 sub myfont">
            Actual description goes here
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12 subtitle">
            GRADING CRITERIA
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="container-fluid grading-criterion padding">
                <div class="row">
                    <div class="col-12 uu">
                        RULE NAME
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="font-weight: lighter;">
                        <i class="uu small-text">DESCRIPTION</i>:
                        <div class="sub myfont">Actual rule description (if any)</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2 col-bordered-left">
                        <i class="uu small-text"> METHOD:</i>
                    </div>
                    <div class="col-4 col-bordered-left">
                        <i class="uu small-text">PATH:</i>
                    </div>
                    <div class="col-4 col-bordered-left">
                        <i class="uu small-text">DATA TYPE:</i>
                    </div>
                    <div class="col-2 col-bordered-left">
                        <i class="uu small-text"> STATUS CODE:</i>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <p>List the assignment details</p>
    <br>
    <p>Fetch all rules tied to this assignment</p>
    <br>
    <p>Generate a rubric for the given assignment</p>

</div>



{{ activeAssignment | json}}