<div id="accordion">


    <div class="card">
        <div class="card-header" id="headingZero">
            <h5 class="mb-0">
                <button class="btn btn-block" routerLink="/assignments/new" routerLinkActive="active">
              NEW ASSIGNMENT
            </button>
            </h5>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingZeroAlpha">
            <h5 class="mb-0">
                <button class="btn btn-block" routerLink="/assignments/browse" routerLinkActive="active">
            VIEW ASSIGNMENTS
          </button>
            </h5>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  GRADING RULES & LINKS
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">

                <div class="list-group">

                    <button type="button" class="list-group-item list-group-item-action btn-sm" routerLink="/assignments/generator/routes" routerLinkActive="active">
                        ADD RULE
                    </button>
                    <!-- <button type="button" class="list-group-item list-group-item-action" routerLink="/assignments/generator/paths" routerLinkActive="active">
                        DEFINE PATH
                      </button>
                    <button type="button" class="list-group-item list-group-item-action" routerLink="/assignments/generator/methods" routerLinkActive="active">
                        DEFINE METHOD
                      </button>
                    <button type="button" class="list-group-item list-group-item-action" routerLink="/assignments/generator/outputs" routerLinkActive="active">
                        EXPECTED OUTPUTS  ...  status codes, data-type, marks ...
                      </button> -->
                    <button type="button" class="list-group-item list-group-item-action btn-sm" routerLink="/assignments/generator/review" routerLinkActive="active">
                        VIEW RULES
                    </button>
                    <button type="button" class="list-group-item list-group-item-action btn-sm" routerLink="/assignments/generator/chaining" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                      BUNDLE/GROUP RULES
                    </button>
                    <!-- -->
                    <button type="button" class="list-group-item list-group-item-action btn-sm" routerLink="/assignments/generator/chaining/browse" routerLinkActive="active">
                        BUNDLED RULES
                    </button>
                </div>

            </div>
        </div>
    </div>



    <!-- DATABASE & DEFINITIONS -->
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-block collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      SUBMISSIONS
                    </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">

                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action btn-block btn-sm" routerLink="/assignments/submit" routerLinkActive="active">
                     NEW SUBMISSION
                    </button>
                    <button type="button" class="list-group-item list-group-item-action btn-block btn-sm" routerLink="/assignments/browse/submissions" routerLinkActive="active">
                      VIEW SUBMISSIONS
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-- PAGE/HTML VALIDATION -->
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn  collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    PAGE/HTML VALIDATION
                  </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">

                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action">
                    ++++++++++++++++++
                  </button>

                </div>

            </div>
        </div>
    </div>

</div>