<p class="h4 mb-4 text-center">Available Assignments</p>
<table #assignmentBrowser class="display table table-responsive table-sm nowrap col-12" style="width:100%">
</table>
<!--
<div id="customForm" style="display: none;">
    <fieldset class="name">
        <legend>Identifiers</legend>
        <editor-field class="disabled" name="assignment_id"></editor-field>
        <editor-field name="assignment_name"></editor-field>
        <editor-field class="datetime" name="assignment_due"></editor-field>
    </fieldset>
    <fieldset class="office">
        <legend>Summary</legend>
        <editor-field name="assignment_summary"></editor-field>
    </fieldset>
    <fieldset class="hr">
        <legend>Notes</legend>
        <editor-field name="assignment_notes"></editor-field>
    </fieldset>

</div> -->